@tailwind base;
@tailwind components;
@tailwind utilities;

.my-div {
  padding-top: 10px;
  padding-right: 12em;
  padding-bottom: 10px;
  padding-left: 12em;
}

body {
  background-color: #ffffff;
  /* background-image: url('/bg.jpg'); Replace 'bg.jpg' with the actual filename */
  background-size: cover;
  background-repeat: no-repeat;
}


